.button {
  display: inline-block;
  color: inherit;
  margin: 3px;
  padding: 4px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.button:not(.selected) {
  cursor: pointer;
}
